<style>
* {
  box-sizing: border-box;
}
/* Account Info container */
.SignUpContainer {
  padding: 16px;
}

/* Account Info Inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Sign Up/ Cancel Button */
button[type=cancel], button[type=submit] {
  background-color: #232724;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* Sign Up Submit Button */
button[type=cancel]:hover, button[type=submit]:hover {
  opacity: 0.8;
}