{% extends 'base.html' %}

{% block content %}

  {% if user.is_authenticated %}
    <!-- Welcome message for logged-in users -->
	<!--<center>-->
    <div class="welcome-message">
      <h2>Welcome, {{ user.username }}!</h2>
      <!-- Add any other welcome content here -->
      <h3>Saving money on your next shop with Dough Saver is just steps away!</h3>
      <p>Select Shop Manager tab then Select Stores</p>
      <p>Add your preferred store(s)</p>
      <p>Navigate to Manage Lists from the Shop Manager</p>
      <p>Create a new shopping List</p>
      <p>Navigate to the Item Search or Recipe Search tab from Search</p>
      <p>Start selecting items or recipes to add to your shopping list</p>
      <p>Navigate to Price Comparisons from Shop Manager</p>
      <p>Select a Price Comparison option and we will do the rest!</p>
    </div>
	<!--</center>-->
  {% else %}
    <!-- Login form for non-logged-in users -->
    <form action="{% url 'index'%}" method="post">

      <!-- Cross Site Request Forgery Cookie -->
      {% csrf_token %} 

      <div class="LoginContainer">

        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}

        <br>
        <label for="uname">Username</label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw">Password</label>
        <input type="Password" placeholder="Enter Password" name="psw" required>
            
        <button type="loginSubmit">Login</button>

        <!--<div class="checkbox-container">
          <input type="checkbox" checked="checked" id="remember" name="remember"> 
          <label for="remember"> Remember me </label>
        </div>-->

      </div>
    
      <div class="LoginContainer">
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>

      <!-- Hyperlink placeholder to switch HTML --> 
      <div class="signUp">
        <a href="/accountcreation">Don't Have an Account?</a>
      </div>
      
    </form>
  {% endif %}

{% endblock %}