{% extends 'base.html' %}

{% block content %}

  <form action="" method="post">

    <!--Cross Site Request Forgery Cookie-->
    {% csrf_token %} 

    <div class="LoginContainer">

      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}

      <br>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="Password" placeholder="Enter Password" name="psw" required>
          
      <button type="loginSubmit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="LoginContainer" >
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

   <!-- HyperLink Place Holder to switch html--> 
     <div class="signUp">
      <a href="/accountcreation">Don't Have an Account?</a>
    </div>
    
  </form>

{% endblock %}
