{% extends 'base.html' %}

{% block content %}

  {% if user.is_authenticated %}
    <!-- Welcome message for logged-in users -->
	<center>
    <div class="welcome-message">
      <h1>Welcome, {{ user.username }}!</h1>
      <!-- Add any other welcome content here -->
    </div>
	</center>
  {% else %}
    <!-- Login form for non-logged-in users -->
    <form action="" method="post">

      <!-- Cross Site Request Forgery Cookie -->
      {% csrf_token %} 

      <div class="LoginContainer">

        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}

        <br>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="Password" placeholder="Enter Password" name="psw" required>
            
        <button type="loginSubmit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="LoginContainer">
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>

      <!-- Hyperlink placeholder to switch HTML --> 
      <div class="signUp">
        <a href="/accountcreation">Don't Have an Account?</a>
      </div>
      
    </form>
  {% endif %}

{% endblock %}