{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ingredient.IngredientName }}</title>
</head>
<body>
    <center><h1>{{ ingredient.IngredientName }}</h1>
    <!-- Display current prices in a table -->
    <h2>Current Prices</h2>
    <table>
        <thead>
            <tr>
                <th>StoreID</th>
                <th>Current Price</th>
                <th>Update Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for price in current_prices %}
                <tr>
                    <td>{{ price.StoreID }}</td>
                    <td>{{ price.CurrentPrice }}</td>
                    <td>{{ price.UpdateTimestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
	
    <!-- Display the Matplotlib plot image -->
    <img src="{{ media_url }}{{ plot_image_path }}" alt="{{ ingredient.IngredientName }} Price History">

    <!-- Add other details about the ingredient as needed -->
	</center>
</body>
{% endblock %}s
