{% extends 'base.html' %}

{% block content %}
    <center>
        <form method="GET" action="{% url 'ingredient_search' %}">
            <input type="text" name="search_query" value="{{ search_query }}" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    
    {% if items %}
        <table border="1" class="custom-table">
            <thead>
                <tr>
                    <th class="custom-table-th">Ingredient Name</th>
                    <th class="custom-table-th">Regular Price</th>
                    <th class="custom-table-th">Store Name</th>
                    <th class="custom-table-th">Add to List</th>
                    <th class="custom-table-th">Track Item?</th>
                </tr>
            </thead>
            <tbody>
                <!-- Search the Items Container to Show What is Found -->
                {% for item in items %}
                    <tr class="custom-hover-tr">
                        <td class="custom-table-td">
                            <a href="{% url 'ingredient_detail' IngredientID=item.IngredientID %}">{{ item.IngredientID__IngredientName }}</a>
                        </td>
                        <td class="custom-table-td">{{ item.CurrentPrice }}</td>
                        <td class="custom-table-td">{{ item.StoreID__StoreName }}</td>
                        <td class="custom-table-td">
                            <form method="post" action={ url 'add_to_shopping_list'}>
                                {% csrf_token %} <!-- Needs Implementation for Shopping List-->
                                <input type="hidden" name="ingredient_id">
                                <button type="submit">Add to Shopping List</button>
                            </form>
                        </td>
                        <td class="custom-table-td">
                            <form method="post" action="{% url 'track_item' %}">
								{% csrf_token %}
								<input type="hidden" name="ingredient_id" value="{{ item.IngredientID }}">
								<button type="submit">Track Item</button>
							</form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table border="1" class="custom-table">
            <tbody>
                <tr>
                    <td colspan="4" class="custom-table-td">
                        <p>Ingredient Not Found</p>
                    </td>
                    <td colspan="2" class="custom-table-td">
                        <form method="post" action={url 'add_to_shopping_list_null'}>
                            {% csrf_token %}
                            <input type="hidden" name="ingredient_name">
                            <button type="submit">Add to Shopping List Anyway?</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    </center>
{% endblock %}

