{% extends 'base.html' %}

{% block content %}
    <center>
        <form method="GET" action="{% url 'recipe_search' %}">
            <input type="text" name="search_query" value="{{ search_query }}" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    
    {% if recipes %}
        <table border="1">
            <thead>
                <tr>
                    <th>Recipe Name</th>
                    <th>Add to List</th>
                    <th>Track Recipe?</th>
                </tr>
            </thead>
            <tbody>
                <!-- Search the Recipes Container to Show What is Found -->
                {% for recipe in recipes %}
                    <tr>
                        <td>
							<!-- Need to figure out how to get each ingredient <a href="{% url 'recipe_detail' RecipeID=recipe.RecipeID %}">{{ recipe.RecipeName }}</a> -->
                            {{ recipe.RecipeName }}
						</td>
                        <td>
                            <form method="post" action="">
                                {% csrf_token %} <!-- Needs Implementation for Shopping List-->
                                <input type="hidden" name="recipe_id">
                                <button type="submit">Add to Shopping List</button>
                            </form>
                        </td>
                        <td>
                        <form method="post" action="">
                            {% csrf_token %} <!-- Needs Implementation for Shopping List-->
                            <input type="hidden" name="recipe_id">
                            <button type="submit">Track Item</button>
                        </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% if not search_query %}
            <p></p>
        {% else %}
            <!-- Display a message if no search results are available -->
            <p>No Recipes Found! Try Again!</p>
        {% endif %}
    {% endif %}
    </center>
{% endblock %}