{% extends 'base.html' %}

{% block content %}
    <center>
        <form method="GET" action="{% url 'recipe_search' %}">
            <input type="text" name="search_query" value="{{ search_query }}" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <br>

        {% if error_message %}
            <div style="font-size: 15px; margin-bottom: 2px;">
                {{ error_message }}
            </div>
        {% endif %}
        <br>
    {% if recipes %}
        <table border="1" class="custom-table">
            <thead>
                <tr>
                    <th class="custom-table-th">Recipe Name</th>
                    <th class="custom-table-th">Add to List</th>
                    <th class="custom-table-th">Track Recipe?</th>
                </tr>
            </thead>
            <tbody>
                <!-- Search the Recipes Container to Show What is Found -->
                {% for recipe in recipes %}
                    <tr class="custom-hover-tr">
                        <td class="custom-table-td">
                            <!-- Need to figure out how to get each ingredient -->
                            {{ recipe.RecipeName }}
                        </td>
                        <td class="custom-table-td">                     
                            <form method="post" action="{% url 'recipe_search' %}">
                                    {% csrf_token %}
                                    <select name="shoppingList" id="shoppingList">
                                        {% for shopping_list in shopping_lists %}
                                            <option value="{{ shopping_list.ListID }}">{{ shopping_list.ListName }}</option>
                                        {% endfor %}
                                    </select>
                                <input type="hidden" name="RecipeID" value="{{ recipe.RecipeID }}">
                                <button type="submit">Add to Shopping List</button>
                            </form>
                        </td>
						<td class="custom-table-td">
							<form method="post" action="{% url 'track_recipe' %}">
								{% csrf_token %}
								<input type="hidden" name="recipe_id" value="{{ recipe.RecipeID }}">
								<button type="submit">Track Recipe</button>
							</form>
						</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% if not search_query %}
            <p></p>
        {% else %}
            <!-- Display a message if no search results are available -->
            <p>No Recipes Found! Try Again!</p>
        {% endif %}
    {% endif %}
    </center>
{% endblock %}

