{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2 style="margin-left: 20px;">MANAGE SHOPPING LIST(S)</h2>

    {% if messages %}
     {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}


    <div class="sl_dropdown">
        <button class="sl_dropbtn">Shopping Lists</button>
        <div class="sl_dropdown-content">
            {% for list in UserListID %}
                <a href="{% url 'shopping_lists_with_id' list_id=list.ListID %}">{{ list.ListName }}</a>
            {% endfor %}
        </div>
        </div>
    <br><br>

    <!--Display chosen shopping list heading, if no list exists, display you have no lists-->
    <!--Display chosen shopping list items-->
	<center>
    {% if selected_list_id %}
		<div style="margin-left: 20px;" class="switch-container">
			<label  class="switch">
			   <input type="checkbox" id="best_store_cost" name="pricing_options" value="beststore">
			 <span class="slider round"></span>
			 <p class="pswitch"> Best Store Cost </p>
			</label>
		  
			<label class="switch">
				<input type="checkbox" id="best_mix_cost" name="pricing_options" value="bestmix">
				 <span class="slider round"></span>
				<p class="pswitch"> Best Mix Cost </p>
			</label>
		
			<label class="switch">
				 <input type="checkbox" id="savings_percent" name="pricing_options" value="savingspercent">
				<span class="slider round"></span>
				<p class="pswitch"> Savings Percent </p>
			</label>
		</div>
		<h2>{{ selected_list.ListName }}</h2>
		<table border="1" class="custom-table">
		<thead>
			<tr>
				<th class="custom-table-th">Ingredient Name</th>
				<th class="custom-table-th">Store</th>
				<th class="custom-table-th">Price</th>
				<th class="custom-table-th">Quantity</th>
				<th class="custom-table-th">Remove Item</th>
			</tr>
		</thead>
		<tbody>
		{% if best_store %}
			{% for item in shopping_list_items %}
			<tr class="custom-hover-tr">
				<td class="custom-table-td"><a href="{% url 'ingredient_detail' IngredientID=item.Ingredient.IngredientID %}">{{ item.Ingredient.IngredientName }}</a></td>
				<td class="custom-table-td">{{ best_store.StoreName }}</td>
				{% for price in current_prices %}
					{% if price.IngredientID_id == item.Ingredient_id %}
						<td class="custom-table-td">{{ price.CurrentPrice }}</td>
					{% endif %}
				{% endfor %}
				<td class="custom-table-td">{{ item.Quantity }}</td>
				<td class="custom-table-td">
					<form method="post" action="{% url 'remove_item_from_list' %}">
						{% csrf_token %}
						<input type="hidden" name="ingredient_id" value="{{ item.Ingredient.IngredientID }}">
					    <input type="hidden" name="list_id" value="{{ selected_list.ListID }}">
						<button type="submit">Remove Item</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		{% else %}
			{% for item in shopping_list_items %}
			<tr class="custom-hover-tr">
				<td class="custom-table-td"><a href="{% url 'ingredient_detail' IngredientID=item.Ingredient.IngredientID %}">{{ item.Ingredient.IngredientName }}</a></td>
				<td class="custom-table-td">{{ item.StoreID.StoreName }}</td>
				{% for price in current_prices %}
					{% if price.IngredientID_id == item.Ingredient_id and price.StoreID_id == item.StoreID_id %}
						<td class="custom-table-td">{{ price.CurrentPrice }}</td>
					{% endif %}
				{% endfor %}
				<td class="custom-table-td">{{ item.Quantity }}</td>
				<td class="custom-table-td">
					<form method="post" action="{% url 'remove_item_from_list' %}">
						{% csrf_token %}
						<input type="hidden" name="ingredient_id" value="{{ item.Ingredient.IngredientID }}">
					    <input type="hidden" name="list_id" value="{{ selected_list.ListID }}">
						<button type="submit">Remove Item</button>
					</form>
				</td>
			</tr>
			{% endfor %}
			
		{% endif %}
		</tbody>
		</table>
    {% else %}
    <p>You have not selected a shopping list.</p>
    </center>
    {% endif %}

    <!--To the right allow a user to add a new shopping list, with placeholder - Add new Shopping List-->
    <form method="post" action="{% url 'shopping_lists' %}">
        {% csrf_token %}
          <input type="text" placeholder="Enter New Shopping List Name..." name="shopping_list_name">
         <button type="submit">Submit</button>
    </form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selected_list_id = '{{ selected_list_id }}';  // Make sure this is correctly set in your template
        var currentUrl = window.location.href;

        // Function to check the checkbox based on the current URL
        function checkCheckbox() {
            var checkboxes = document.querySelectorAll('input[name="pricing_options"]');
            checkboxes.forEach(function(checkbox) {
                // Check if the checkbox value matches the current URL
                if (currentUrl.includes('/' + checkbox.value + '/')) {
                    checkbox.checked = true;
                } else {
                    checkbox.checked = false;
                }
            });
        }

        // Check the checkbox on page load
        checkCheckbox();

        // Function to handle checkbox changes
        var checkboxes = document.querySelectorAll('input[name="pricing_options"]');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                // Redirect based on the checked checkbox and selected_list_id
                if (checkbox.checked) {
                    window.location.href = '/shopping_lists/' + selected_list_id + '/' + checkbox.value;
                }
            });
        });
    });
</script>

{% endblock %}