
{% extends 'base.html' %}

{% block content %}

<h2>SELECT PREFERRED STORE(S)</h2>

<form method="post" action="{% url 'store_selection' %}">
    {% csrf_token %}
    <ul>
        {% for store in grocery_stores %}
            <li>
                <input type="checkbox" id="store_{{ store.StoreId }}" name="store_ids" value="{{ store.StoreId }}">
                <label for="store_{{ store.StoreId }}">
                    {{ store }}
                </label>
            </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Save Stores">
</form>

{% endblock %}