{% extends 'base.html' %}

{% block content %}
 <center>
  <h2>Your Tracked Recipes</h2>
  {% if user_recipes %}
    <table border="1" class="custom-table">
				<thead>
					<tr>
						<th class="custom-table-th">Recipe Name</th>
						<th class="custom-table-th">Target Price</th>
						<th class="custom-table-th">Add to List</th>
						<th class="custom-table-th">Track Recipe?</th>
					</tr>
				</thead>
				<tbody>
        {% for recipe in user_recipes %}
          <tr class="custom-hover-tr">
							<td class="custom-table-td"><a href="{% url 'recipe_detail' RecipeID=recipe.RecipeID %}">{{ recipe.RecipeName }}</a></td>
							{% for collection in recipe_collections %}
								{% if collection.RecipeID_id == recipe.RecipeID %}
									<td class="custom-table-td">
										<form method="post" action="{% url 'target_price_recipe' %}">
											{% csrf_token %}
											<input type="hidden" name="recipe_id" value="{{ recipe.RecipeID }}">
											{% for available_recipe in below_price %}
												{% if available_recipe.RecipeID_id == recipe.RecipeID %}
													<h4 style="color: red;">Available below target price!</h4>
												{% endif %}
											{% endfor %}
											<input name="target_price" value="{{ collection.TargetPrice|default_if_none:'' }}">
											<button type="submit">Update Price</button>
										</form>
									</td>		
								{% endif %}
								
							{% endfor %}
							<td class="custom-table-td">
								<form method="post" action={ url 'add_to_shopping_list'}>
									{% csrf_token %} <!-- Needs Implementation for Shopping List-->
									<input type="hidden" name="recipe_id">
									<button type="submit">Add to Shopping List</button>
								</form>
							</td>
							<td class="custom-table-td">
								<form method="post" action="{% url 'untrack_recipe' %}">
									{% csrf_token %}
									<input type="hidden" name="recipe_id" value="{{ recipe.RecipeID }}">
									<button type="submit">Untrack Recipe</button>
								</form>
							</td>
            <!-- Add more columns as needed -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
	<h2>Currently selected date: {{ date_user.selecteddate }}</h2>
	<form method="post" action="">
	{% csrf_token %}

	<label for="id_selecteddate">Select a new Date:</label>
	<input type="date" name="selecteddate" id="id_selecteddate" value="{{ date_user.selecteddate|default:'01/01/2022' }}">
	<button type="submit">Save</button>
	</form>
  {% else %}
    <p>You haven't tracked any recipes yet.</p>
	<br><br><br><br>
  {% endif %}
    </center>

{% endblock %}
