{% extends 'base.html' %}

{% block content %}

<body>
	<center>
    <h1>Your Tracked Ingredients</h1>
	  {% if user_ingredients %}
		<table border="1" class="custom-table">
				<thead>
					<tr>
						<th class="custom-table-th">Ingredient Name</th>
						<th class="custom-table-th">Target Price</th>
						<th class="custom-table-th">Add to List</th>
						<th class="custom-table-th">Track Item?</th>
					</tr>
				</thead>
				<tbody>
					<!-- Search the Items Container to Show What is Found -->
					{% for item in user_ingredients %}
						<tr class="custom-hover-tr">

							<td class="custom-table-td">
								<a href="{% url 'ingredient_detail' IngredientID=item.IngredientID %}">{{ item.IngredientName }}</a>
							</td>
							{% for collection in ingredient_collections %}
								{% if collection.IngredientID.IngredientID == item.IngredientID %}
									<td class="custom-table-td">
										<form method="post" action="{% url 'target_price_ingredient' %}">
											{% csrf_token %}
											<input type="hidden" name="ingredient_id" value="{{ item.IngredientID }}">
											{% for available_items in below_price %}
												{% if available_items.IngredientID == item %}
													<h4 style="color: red;">Available below target price!</h4>
												{% endif %}
											{% endfor %}
											<input type="number" step="0.01" name="target_price" value="{{ collection.TargetPrice|default_if_none:'' }}">
											<button type="submit">Update Price</button>
										</form>
									</td>							
								{% endif %}
								
							{% endfor %}

							<td class="custom-table-td">
								<form method="post" action={ url 'add_to_shopping_list'}>
									{% csrf_token %} <!-- Needs Implementation for Shopping List-->
									<input type="hidden" name="ingredient_id" value="{{ item.IngredientID }}">
									<button type="submit">Add to Shopping List</button>
								</form>
							</td>
							<td class="custom-table-td">
								<form method="post" action="{% url 'untrack_item' %}">
									{% csrf_token %}
									<input type="hidden" name="ingredient_id" value="{{ item.IngredientID }}">
									<button type="submit">Untrack Item</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
				<h2>Currently selected date: {{ date_user.selecteddate }}</h2>
				<form method="post" action="">
					{% csrf_token %}
					
					<label for="id_selecteddate">Select a new Date:</label>
					<input type="date" name="selecteddate" id="id_selecteddate" value="{{ date_user.selecteddate|default:'01/01/2022' }}">
					<button type="submit">Save</button>
				</form>
		{% else %}
		<p>You haven't tracked any ingredients yet.</p>
		<br><br><br><br>
		{% endif %}
		</center>
</body>
{% endblock %}